:host {
    width: 30%;
}

.card {
    background-color: white;
    padding: 1rem;
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    

    img {
        width: 100%;
        margin-bottom: 32px ;
    }

    span { 
        font-size: 14px;
        color:#6941C6 ;
        font-weight: 600;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0;
        
        img {
            width: 7%;
            margin: 0;
        }
    }

    h2 {
        color: #101828;
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        margin-left: 0;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }

    &__avatar {
        margin: 45px 0 15px 0;
        display: flex;
        align-items: center;
        width: 55%;
        
  &__image {
        margin: 0 5px 0 0;
      }

        img {
            width: 100%;
            margin: 10px 0 0 0;
            
        }

        &__info {
            line-height: 10px;
            font-size: 14px;
            margin-left: 10px;

            p {
                color: #101828;
                margin-bottom: 5px;
            }

            span {
                color: #667085;
                font-weight: 0;
            }
        }
    }
    
}

@media(max-width: 768px){
   .card {
    width: 80%;
    margin-bottom: 20px;
   }
    
}