:host {
    width: 30%;
}

.card {
    background-color: white;
    padding: 1rem;
    display: block;
    

    img {
        width: 100%;
        margin-bottom: 32px ;
    }

    span { 
        font-size: 14px;
        color:#6941C6 ;
        font-weight: 600;
    }

    h2 {
        margin-top: 12px;
        color: #101828;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 12px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
    }

    &__avatar {
        margin-top: 64px;
        display: flex;
        padding: 0 3rem 0 0;
        
      
        img {
            width: 11%;
        }
    }
    
}