:host {
    width: 31%;
}

.card {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
    border: none;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    

    img {
        width: 100%;
        margin-bottom: 32px;
    }

    &__category { 
        margin-right: 500px;
        font-size: 14px;
        color:#6941C6 ;
        font-weight: 700;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0;
        
        img {
            width: 7%;
            margin: 0;
        }
    }

    h2 {
        color: #101828;
        font-size: 24px;
        font-weight: 6h00;
        line-height: 32px;
        margin-left: 0;
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #667085;
        margin-left: 0;
    }

    &__avatar {
        margin: 45px 0 15px 0;
        display: flex;
        align-items: center;
        width: 55%;
        
  &__image {
        margin: 0 5px 0 0;
      }

        img {
            width: 100%;
            margin: 10px 0 0 0;
            
        }

        &__info {
            line-height: 10px;
            font-size: 14px;
            margin-left: 10px;

            p {
                color: var(--color-text);
                margin-bottom: 10px;
                font-weight: 500;
            }

            span {
                color: #667085;
                font-weight: 400;
            }
        }
    }
    
}

@media(max-width: 768px){
   .card {
    width: 100%;
    margin-bottom: 20px;

    &__avatar {
        margin-right: 0;

        &__info {
          font-size: 12px;
        }
    }
   }


    
}