:host {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

form {
    padding: 7rem;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}