:host {
    background-color: var(--color-bg-light);
}

.details {
    padding-top: 7rem;
    display: flex;
    

    &__person {
        display: flex;
        margin: 0 10rem;
    

        &__image {
           width: 500px; 
           border-radius: 3px;
           margin-right: 100px;
           background-color: white;
            
            img {
            width: 100%;
            border-radius: 3px;
           }
        }

        &__info {
            margin-top: 50px;

            h2 {
                font-size: 40px;
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 40px;
                font-size: 20px;
            }

            button {
                padding: 1rem;
                border: none;
                border-radius: 8px;
                background-color: var(--color-bg-light);
                color: var(--primary);
            }
        }
    }
}

@media(max-width: 768px){
    .details {
      
        &__person {
        margin: 0 2.5rem;
        flex-direction: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        &__image {
            width: 300px;
        }

        &__info {
            padding-right: 6rem;

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    }
     
 }