.details {
    display: flex;
    justify-content: center;
    padding: 7rem 3rem;
    background-color: red;

    &__person {
        background-color: yellow;
        width: 30%;
        display: flex;
        justify-content: space-between;

        img {
            width: 100%;
            height: 400px;
        }
    }

    &__category {
        background-color: blue;
        width: 40%;
    }
}