.home {
    padding-top: 5rem;
    background-color: #F9F5FF;

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            padding: 0.3rem 0.6rem;
            border: none;
            border-radius: 1rem;
            color: #6941C6;
            line-height: 20px;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        h1 {
            color: #42307D;
            line-height: 60px;
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 24px;
        }

        p {
            line-height: 30px;
            font-weight: 400;
            color: #6941C6;
            margin-bottom: 40px ;

        }

        input {
            width: 250px;
            height: 30px ;
            border-radius: 8px;
            border: 1px solid rgb(177, 176, 176);
        }
    }

    &__cards {
        margin: 5rem;
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
    }
}